body {
    font-family: 'Roboto slab', sans-serif;
    margin: 0px;
    padding:0px;
    display: flex;
    flex-direction: column;
}
header, 
footer{
    background-color: #342E59;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
header p {
    font-size: 72px;
    margin: 16px 0px;

}
.other {
    margin: 48px;
}
.bg {
    background-color: F9F9F9;
    display: flex;
    justify-content: center;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color:#342E59;
    padding: 0 24px;
}
.player-comp {
    display: flex;
    gap: 128px;
}
.player h2{
    margin: 0px;
}
.comp h2{
    margin: 0px;
}
.score {
    display: flex;
    justify-content: center;
    gap: 90px;

}
.score p {
    margin-top: 0px;
    margin-bottom: 24px;
    font-size: 72px;
}
.result {
    font-size: 32px;
}
.others {
    font-size: 16px;
}
.choices {
    display: flex;
    gap: 128px;
}
.choices p{
    font-size: 96px;
    margin-top: 16px;
    margin-bottom: 75px;
}
.greentext {
    color: green;
}
.redtext {
    color: red;
}